@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format ('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(184, 250, 182);
    padding: 0px;
    display: block;
   }
#pagina {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 3em;
    margin-top: 0px;
    text-align: center;    
}
header {
    background-image:linear-gradient(to bottom, #1fb12e, #03610C);
    min-height: 170px;
    text-align: center;
    padding-top: 40px;     
}
header > p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}
nav {
    background-color: #03610C;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.308);   
}
nav > a {    
    color: #07FA20;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;  
}
h1 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #03610C;
    padding: 10px;
  }
  h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    color: #03610C;
    background-image: linear-gradient(to left, white, #74bb7b);
      font-size: 1,3em;
      margin-top: 10px;
      margin-bottom: 10px;
      text-indent: 10px;
  }
  strong {
    color: #03610C;
  }
  p > a {
    color: #03610C;
    font-weight: bold;
  }
  main {
    min-width: 200px;
    max-width: 900px;
    margin: auto;
    background-color: white; 
    text-align: justify;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.308)
  }
  article > h1 {
    font-size: 2em;
    padding: 10px;      
  }  
  article > p {
    padding: 10px;
    text-indent: 30px;
    text-align: justify;
  }
  .imagens {
   margin: 50px;
  }
  article > img {
    margin-left: 300px;
  }
  section {
    background-color: #03610C;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.308)
  }
  section > v {
    position: relative;
    top: 5%;
    left: 17%;
    width: 90%;
    height: 90%;   
  }
  aside {
    background-color: #74bb7b;
    margin: 20px;
    padding: 10px;
    display: block;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.308)
  }
  aside > h3 {
    background-color: #03610C;
    color: white;
    padding: 10px;   
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
  }
  aside > P {
    text-indent: 30px;
    padding: 5px;   
  }
  aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
  }
  footer {
    background-color: #03610C;
    color: white;
    text-align: center;
  }
