@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    padding-top: 20px;
}
h1{
    text-align: center;
}
p{
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}
.blue{
    background-color: rgb(4, 184, 216);
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orangen{
    background-color: orange;
}

/* alinhamneto row*/
.container{
    border: 2px solid black;
    display: flex;
    max-width: 500px;
    margin: auto;
}
.column{
    flex-direction: column;
}

.itemorder{
    text-align: center;
    margin: 5px;
    padding-top: 5px;
    font-size: 24px;
    flex: 1;
    order: 0;
}
/* seguência dos itens presonalizados*/
 .o1{
    order: 1;
 } 
 .o2{
    order: 2;
 } 
 .o3{
    order: 3;
 }
 .o4{
    order: 4;
 }
 