@charset "UTF-8";


body {
    font-family: Tahoma, Arial, sans-serif;
    background: rgb(233, 245, 245);
    margin: 0;
    padding: 0;
}
#principal {
    width: 1024px;
    margin: 20px auto;
}
.header-top {
    height: 50px;
    background: #162028;
    position: relative;
}
.logo {
    margin-left: 150px;
}
.header-nav {
    position: absolute;
    top: 0;
    right: 0; 
    background-color: #162028;  
}
ul {
    text-align: right;
}
.header-nav li {
    display: inline-block;
    letter-spacing: 5px;
    margin-right: 15px;
    transition: color 0.3s;
}
a {
    text-decoration: none;
    color: rgba(160, 160, 206, 0.349);
}
a:hover {
    color: rgba(121, 121, 247, 0.349); 
}
.header-nav:hover {
    background-color: rgb(32, 51, 104);
}
