@charset "UTF-8";

.pagina1 {
    background-image: url(imagens/wallpaper001.jpg);
}
.quadrado {
    display: inline-block;
    border: 2px solid black;
    border-radius: 12px;
    background-color: silver;
    width: 300px;
    height: 300px;
}
#q1 {
    background-color: blue;
}
#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}
#q3 {
    background-image: url(imagens/pattern003.png);
}
.pagina2 {
    background-color: white;
    background-image: url(imagens/wallpaper001.jpg);
    background-size: 100px 100px;
    /*sem repetição*/
    background-repeat: no-repeat;
    /*com repetição horizontal*/
    background-repeat: repeat-x;
    /*com repetição vertical*/
    background-repeat: repeat-y;
}
.bloco {
    background-image: url(imagens/wallpaper003.jpg);
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#b1 {
    background-position: left top;
}
#b2 {
    background-position: left center;
}
#b3 {
    background-position: right bottom;
}
#b4 {
    background-position: center center;
}
body {
    background-color: black;
   
}
.pagina4 {    
    height: 97vh;
    background-image: url(imagens/wallpaper003.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
.pagina5 {
    height: 97vh;
    /*border-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /* shorthand - background
    color imgem position repeat (size - ainda separadamente) attachment
    */
    background: black url(imagens/wallpaper002.jpg) center center no-repeat fixed;
    background-size: cover;
}
main {
    background-color: white;   
    max-width: 580px;
    margin: auto;
    border:  2px solid rgba(0, 0, 255, 0.644);
    border-radius: 10px;
}
h1 {
    font-family: sans-serif;
    font-variant: small-caps;
    font-size: 25px;
    text-align: center;
}
p {
    text-indent: 20px;
    font-family: sans-serif;
    padding: 20px;
    text-align: justify;
}
.conteiner {
    /*position: relative; - todo box já tem esse position no html */
    height: 94vh;
    padding: 10px;
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    background-color: deeppink;
   
}
.conteudo {
    position: absolute; /* quando a position for absolute poderar utilizar o left e top para mover o box*/ 
    height: 200px;
    width: 300px;
    background-image: url(imagens/target001.png);
    background-size: 100% 100%;
    background-color: gold;
    /* para alinhar o box utiliza a porcetagem*/
    left: 50%;
    top: 50%;
    /* para terminar de alinha o box usamos também em porcentagem o transform: translate também em porcentagem*/
    transform: translate(-50%, -50%);
}
    


