@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: sans serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    font-variant: small-caps;
    padding-top: 50px;
    padding-bottom: 50px;
}
header h1 {
    font-family: var(--font2);
    font-size: 5em;
}
header p {
    padding-bottom: 50px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;   
}
a:hover {
    text-decoration: underline;
}
section {
    font-family: var(--font3);
    font-size: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
.normal {    
    background-color: white;
    box-shadow: 0px 0px 20px black;
    
}
.normal p {
    padding-bottom: 2em;
}
.imagem {    
    background-color: rgba(116, 116, 116, 0.24);
    box-shadow: inset 5px 1px 10px rgba(0, 0, 0, 0.637);
    background-attachment: fixed;   
}
.imagem p {
    background-color: rgba(116, 116, 116, 0.24);
    color: white;
    padding: 5px;   
    width: 400px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 20px black;
}
#image01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#image02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}
@media (max-width:390px){   
    header {
        width: 100%;
    }
    header h1 {
        width: 100%;
    }
    section {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .normal {
        width: 100%;
    }
    .imagem {
        width: 100%;
    }
    .imagem p {
        width: 100%;
    }
}
