@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    padding: 20px;
}
p {
    text-indent: 20px;
    text-align: justify;
    line-height: 1.2em;
}
caption {
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}
table {
    border-collapse: collapse;   
}
th, td {
    border: 2px solid black;
    padding: 5px;
}
tr:nth-child(even) {
    background-color: rgb(207, 205, 205);
}
#container {
    overflow-x: auto;
}